<!DOCTYPE html>
<html lang="en">

<%- include('./templates/head.ejs')%>
    <body>
        <%- include('./templates/header.ejs')%>

            <section class="intro">
                <div class="container intro-container">
                    <div class="intro-wrapp-contetnt">
                        <div class="intro-title">
                            Tell us your story!
                        </div>
                        <div class="intro-title">
                            Let the whole world see it!
                        </div>
                    </div>
                </div>
            </section>

            <section class="post-content">
                <div class="container post-content-conteiner">
                    <div class="post-content-wrapp">
                        <div class="post-content__main-img">
                            <img src="<%= singlePost.post_img%>" alt="">
                        </div>
                        <h2 class="post-content__title article-title ">
                            <%= singlePost.title%>
                        </h2>
                        <p class="post-content__par article-par">
                            <%= singlePost.descr%>
                        </p>
                        <p class="post-content__par article-par">Thus, the strengthening and development of the
                            structure
                            ensures a wide
                            range of (specialists) participation in the formation of mass participation systems.
                            Everyday
                            practice shows that constant quantitative growth and the scope of our activity entails the
                            process
                            of implementation and modernization of the development model. Comrades! the new model of
                            organizational activity plays an important role in shaping further directions of
                            development. On the
                            other hand, the strengthening and development of the structure entails a process of
                            implementation
                            and modernization corresponding to the conditions of activation. The task of the
                            organization,
                            especially the further development of various forms of activity, allows us to assess the
                            value of
                            new proposals.
                            Thus, the strengthening and development of the structure ensures a wide range of
                            (specialists)
                            participation in the formation of mass participation systems. Everyday practice shows that
                            constant
                            quantitative growth and the scope of our activity entails the process of implementation and
                            modernization of the development model. Comrades! the new model of organizational activity
                            plays an
                            important role in shaping further directions of development. On the other hand, the
                            strengthening
                            and development of the structure entails a process of implementation and modernization
                            corresponding
                            to the conditions of activation. The task of the organization, especially.</p>
                        <p class="post-content__par article-par">Thus, the strengthening and development of the
                            structure
                            ensures a wide
                            range of (specialists) participation in the formation of mass participation systems.
                            Everyday
                            practice shows that constant quantitative growth and the scope of our activity entails the
                            process
                            of implementation and modernization of the development model. Comrades! the new model of
                            organizational activity plays an important role in shaping further directions of
                            development. On the
                            other hand, the strengthening and development of the structure entails a process of
                            implementation
                            and modernization corresponding to the conditions of activation. The task of the
                            organization,
                            especially the further development of various forms of activity, allows us to assess the
                            value of
                            new proposals.
                            Thus, the strengthening and development of the structure ensures a wide range of
                            (specialists)
                            participation in the formation of mass participation systems. Everyday practice shows that
                            constant
                            quantitative growth and the scope of our activity entails the process of implementation and
                            modernization of the development model. Comrades! the new model of organizational activity
                            plays an
                            important role in shaping further directions of development. On the other hand, the
                            strengthening
                            and development of the structure entails a process of implementation and modernization
                            corresponding
                            to the conditions of activation. The task of the organization, especially.</p>
                    </div>
                </div>
            </section>
    </body>

</html>